/* Apply styles to the body */
body {
  font-family: "Raleway", sans-serif;
  color: #60586f;
  background: #fefefe;
  margin-top: 140px;
  padding: 0;
} 

/* Apply styles to the heading */
h2.textcenter {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

/* Center the form */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the file input and label */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ccc;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Style for file lin */
#fileLink {
  display: inline-block;
  padding: 2.5px 5px;
  border-radius: 4px;
  color: #666;
  z-index: 2;
  font-weight: 250;
  cursor: pointer;
  line-height: 25px;
  height: 30px;
  font-size: 15px;
  opacity: 0.9;
  margin-right: 50px;
  margin-left: 50px;
}

input[type="file"] {
  display: none;
}

/* Style for label */
label {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

label:hover {
  background-color: #0056b3;
}

/* Style the submit button */
button {
  margin-top: 10px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Style for show Metadata */
p,
li {
  font-family: "raleway", sans-serif;
  margin-bottom: 10px;
  color: #666;
  line-height: 1.5;
  font-size: 16px;
}

ul {
  padding-left: 20px;
}

p {
  color: #333;
  background: rgba(119, 99, 97, 0.05);
  padding: 5px;
  margin-top: 0;
  border-radius: 5px;
  display: inline-block;
  word-break: break-all;
}

h1 {
  border-bottom: solid 1px #ddd;
  padding: 10px 0;
}

.textcenter {
  text-align: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label,
button {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  box-sizing: content-box;
  line-height: 1;
  background: #60586f;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 15px;
  -webkit-transition: box-shadow 0.15s ease-in-out;
  -moz-transition: box-shadow 0.15s ease-in-out;
  -o-transition: box-shadow 0.15s ease-in-out;
  -ms-transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.52), 0 0 0 1px rgba(0, 0, 0, 0.04);
}

label {
  opacity: 0.9;
  box-shadow: none;
  background: #fff;
  color: #60586f;
  border: solid 2px;
  padding: 7px 10px;
  line-height: 1.5;
}

/* Style for button */
button {
  display: block;
  margin: 20px auto;
}

button:active {
  box-shadow: none;
}

button:focus {
  outline: none;
}

label > img {
  width: 14px;
  margin: 0 0 0 10px;
}

.data {
  letter-spacing: 2px;
  font-size: 40px;
  margin: 0;
}

@media screen and (max-width: 520px) {
  button,
  label {
    font-size: 13px;
  }

  .center > div {
    width: 100vw;
    text-align: center;
  }
}

/* CSS for Navbar */

nav {
  position: fixed;
  top: 30px;
  left: 24%;
  width: 50%;
  background-color: #60586f; /* Background color */
  color: white; /* Text color */
  padding: 10px;
  font-weight: 600;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between; /* Space between elements */
  align-items: center; /* Vertically align elements */
}

nav li {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px; /* Spacing around links */
  border-radius: 5px; /* Rounded corners for links */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

nav a:hover {
  background-color: #555; /* Background color on hover */
}
